<app-header></app-header>

<div class="container-main">

  <button class="btn back-button btn-danger" mat-raised-button (click)="goBack()">Volver</button>
  <h2>Editar Editorial</h2>

  <div class="container-form">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
      <div class="form-group mt-3">
        <label for="">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre de la editorial" formControlName="name">
      </div>
      <div class="form-group mt-3">
        <label for="">Ciudad</label>
        <input type="text" class="form-control" placeholder="Ciudad" formControlName="address">
      </div>
      <div class="form-group mt-3">
        <label for="">País</label>
        <input type="text" class="form-control" placeholder="País" formControlName="country">
      </div>
  
      <button type="submit" class="btn btn-primary edit-editorial-button" (click)="showUpdateConfirmation()">Actualizar</button>
    </form>
  </div>

</div>
<app-footer></app-footer>
