<app-header></app-header>

<div class="container-main">
  <button mat-raised-button class="btn back-button btn-danger" (click)="goBack()">Volver</button>
  <h2>Nuevo Autor</h2>
  
  <div class="container-form">
    <form class="needs-validation" [formGroup]="newAuthorForm" (ngSubmit)="onSubmit(newAuthorForm.value)">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="nationality">Nacionalidad:</label>
        <input type="text" class="form-control" id="nationality" formControlName="nationality">
      </div>
      <div class="form-group">
        <label for="biography">Biografía:</label>
        <textarea class="form-control" id="biography" formControlName="biography"></textarea>
      </div>
      <button type="submit" class="btn btn-primary new-author-button">Guardar</button>
    </form>
  </div>
</div>

<app-footer></app-footer>