:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #DED1A9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Cambiado a columna para el nuevo autor */
    gap: 20px; /* Ajustado el espacio entre elementos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-button{
    align-self: self-start;
}

.new-author-button {
    width: 150px;
    cursor: pointer;
}

