/* Estilos para el footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background: black;
    position: static;
    bottom: 0;
  }
  
  /* Estilos para el contenedor dentro del footer */
  footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el texto dentro del footer */
  footer span {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }