<app-header></app-header>

<div class="container">

  <button class="btn back-button btn-danger" mat-raised-button (click)="goBack()">Volver</button>
  <h2>Editar Autor</h2>

  <div class="container-form">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
      <div class="form-group mt-3">
        <label for="">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del autor" formControlName="name">
      </div>
      <div class="form-group mt-3">
        <label for="">Nacionalidad</label>
        <input type="text" class="form-control" placeholder="Nacionalidad" formControlName="nationality">
      </div>
      <div class="form-group mt-3">
        <label for="">Biografía</label>
        <input type="text" class="form-control" placeholder="Biografía" formControlName="biography">
      </div>
  
      <button type="submit" class="btn btn-primary edit-author-button" (click)="showUpdateConfirmation()">Actualizar</button>
    </form>
  </div>

</div>
<app-footer></app-footer>