<div class="container">
    <h2>Create New Author</h2>
    <form  [formGroup]="newAuthorForm" (ngSubmit)="onSubmit(newAuthorForm.value)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name"  formControlName="name" required>
        </div>
        <div class="form-group">
            <label for="nationality">Nationality:</label>
            <input type="text" class="form-control" id="nationality"  formControlName="nationality">
        </div>
        <div class="form-group">
            <label for="biography">Biography:</label>
            <textarea class="form-control" id="biography"  formControlName="biography"></textarea>
        </div>
        <button type="submit" class="btn btn-primary new-author-button">Create</button>
    </form>
</div>